snippet rule
rule ${1:name}:
  """$2"""
  input:
    $3
  output:
    $4
  shell:
    """
    "$0"
    """
endsnippet

snippet expand
  expand("$1", $0)
endsnippet

snippet shell
  shell("""
    $0
  """)
endsnippet
